/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #252b42;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */

body {
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

/* Header style start */

.header {
  margin-top: 62px;
  margin-bottom: 40px;
}
.container {
}
.header__body {
  position: relative;
}
.header__height {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.header__row-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.header__height-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  color: #867e90;
  text-transform: uppercase;
  margin-right: 22px;
  transition: 0.5s all;
}
.header__height-link:hover {
  color: #ffec4b;
}
.header__height-link-main {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  color: #000000;
  text-transform: uppercase;
  margin-right: 19px;
  padding-bottom: 2px;
  transition: 0.5s all;
}
.header__height-link-main:hover {
  color: #918fe0;
}
.header__height-link-main::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffec4b;
}

.header__row-second {
}
.header__button-free {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1d1d1b;
  text-transform: uppercase;
  background: #ffec4b;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 10px;
  margin-right: 10px;
  transition: 0.5s all;
}
.header__button-free:hover {
  color: #ffec4b;
  background: #867e90;
}
.header__button-log {
  position: relative;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ffec4b;
  text-transform: uppercase;
  background: #867e90;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 15px 10px 40px;
  transition: 0.5s all;
}
.header__button-log:hover {
  opacity: 0.6;
}
.header__button-vector {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-30%);
}
.header__low {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__low-link {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #867e90;
  margin-right: 15px;
  transition: 0.5s all;
}
.header__low-link:hover {
  color: #000000;
  text-decoration: underline;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-25%);
}
.logo {
}

/* Header style end */

/* Try style start */

.try {
}
.container {
}
.try__wrapper {
  position: relative;
  background: linear-gradient(
    270.26deg,
    #ebebeb -0.87%,
    #fdfdfd 66.5%,
    #ebebeb 93.54%
  );
  padding-bottom: 550px;
  margin-bottom: 160px;
}
.try__text {
  position: absolute;
  top: 211px;
  left: 117px;
  max-width: 269px;
  text-align: center;
  z-index: 2;
}

.try__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.try__button {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1d1d1b;
  background: #ffec4b;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s all;
}
.try__button:hover {
  color: #ffec4b;
  background: #867e90;
}
.try__img-big {
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 1;
}
.try__img-sm {
  position: absolute;
  top: 130px;
  left: 360px;
  z-index: 1;
}
.try__disc {
  position: absolute;
  top: 130px;
  right: 30px;
}

/* Try style end */

/* Title-header style start */

.general-title-header {
  background: rgba(145, 143, 224, 0.2);
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #1d1d1b;
  padding: 58px 0;
  margin-bottom: 80px;
}

/* Title-header style start */

/* Possibility style start */

.possibility {
  margin-bottom: 102px;
}
.container {
}
.possibility__body {
  position: relative;
}
.possibility__items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.possibility__items:not(:last-child) {
  margin-bottom: 40px;
}
.possibility__img {
  transition: 0.7s all;
}
.possibility__img:hover {
  transform: scale(1.1);
}
.possibility__general-text {
  padding: 0 60px;
}
.possibility__general-title {
  font-style: 400;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #867e90;
  margin-bottom: 14px;
}
.possibility__general-subtitle {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.possibility__vector-01 {
  position: absolute;
  top: 375px;
  left: 50px;
}
.possibility__vector-02 {
  position: absolute;
  top: 370px;
  right: 250px;
}
.possibility__vector-03 {
  position: absolute;
  top: 790px;
  right: 150px;
}
.possibility__vector-04 {
  position: absolute;
  top: 1350px;
  right: 470px;
}
.possibility__vector-05 {
  position: absolute;
  top: 1280px;
  right: 290px;
}
.possibility__vector-06 {
  position: absolute;
  top: 1302px;
  right: 253px;
}
/* Possibility style end */

.title-header-yellow {
  background: rgba(255, 236, 75, 0.6);
}

/* Why style start */

.why {
  margin-bottom: 60px;
}
.container {
}
.why__body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
}
.why__item {
  grid-column: span 2;
  background: rgba(134, 126, 144, 0.2);
  border-radius: 45px;
  padding: 50px;
}

.why__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}
.why__title {
  margin-top: auto;
}
.why__title-analyz {
  margin-top: 35px;
}
.why__title-target {
  margin-top: 25px;
}
.why__title-time,
.why__title-AI {
  margin-bottom: 40px;
}
.why__title-way {
  margin-bottom: 60px;
}
.why__soc {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.why__item-soc {
  display: flex;
  flex-direction: column;
}
.why__wk {
  background: #918fe0;
  padding: 24px 15px;
  border-radius: 50%;
  transform: translateY(75%);
}
.circle-wk {
}
.wk {
}

.why__inst {
  padding-top: 30px;
  background: #918fe0;
  padding: 19px;
  border-radius: 50%;
}
.circle-inst {
}
.inst {
}
.why__fb {
  background: #918fe0;
  padding: 15px 25px;
  border-radius: 50%;
  transform: translateY(75%);
}

.circle-fb {
}
.fb {
}

/* Why style end */

/* Perspectives style start */

.perspectives {
  margin-bottom: 150px;
}
.perspectives__position {
  position: relative;
}
.perspectives__position-absolut {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -190px;
  background: rgba(255, 236, 75, 0.4);
  border-radius: 5px;
  text-align: center;
  max-width: 308px;
  padding: 90px 30px 100px 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
  min-width: 309px;
}
.perspectives__vector-01 {
  position: absolute;
  top: 35%;
  left: 0;
}
.perspectives__vector-02 {
  position: absolute;
  top: 15%;
  left: 60%;
}
.perspectives__vector-03 {
  position: absolute;
  top: 1%;
  left: 90%;
}
.perspectives__vector-04 {
  position: absolute;
  top: 85%;
  left: 80%;
}

.perspectives__body {
  display: grid;
  grid-template-columns: 67% 33%;
  /* grid-template-rows: 100% 100%; */
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.perspectives__four-items {
  display: grid;
  grid-template-rows: 49% 49%;
  grid-row-gap: 10px;
}
.perspective__gorizont-first {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-column-gap: 10px;
}
.perspectives__vertical-first {
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 2px #aaa7a7;
}
.perspectives__vertical-first-title {
  margin-bottom: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}
.perspectives__vertical-first-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1d1d1b;
  padding: 0 50px 0 50px;
}
.perspectives__vertical-second {
  text-align: center;
  background: rgba(134, 126, 144, 0.4);
  border-radius: 5px;
}
.komanda-img {
  margin-bottom: 10px;
  padding-top: 54px;
}
.perspectives__vertical-second-komanda {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}
.perspective__gorizont-second {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 10px;
}
.perspectives__vertical-first-low {
  text-align: center;
  background: rgba(145, 143, 224, 0.5);
  border-radius: 5px;
}
.cloud-img {
  padding-top: 25px;
  margin-bottom: 10px;
}
.perspectives__vertical-second-cloud {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}

.perspectives__vertical-second-low {
  text-align: center;
  background: rgba(255, 236, 75, 0.2);
  border-radius: 5px;
}
.business-img {
  padding-top: 27px;
  margin-bottom: 30px;
}
.perspectives__vertical-second-business {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}

.perspectives__one-item {
  background: rgba(145, 143, 224, 0.4);
  border-radius: 5px;
  text-align: center;
  padding: 113px 20px 180px 20px;
}
.people-img {
  margin-bottom: 40px;
}
.perspectives__one-item-people {
  font-weight: 500;
  font-size: 24px;
  line-height: 123%;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1b;
}

/* Perspectives style end */

/* Footer style start */

.footer {
  background: #867e90;
}
.footer__wrapper {
  max-width: 864px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 31px;
}
.footer__column {
}
.footer__list {
}
.footer__title {
}
.footer__link {
  font-style: 400;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  color: #ffffff;
  transition: 0.6s all;
}
.footer__title-link {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: 0.6s all;
}
.footer__link:hover,
.footer__title-link:hover {
  text-decoration: underline;
}
.footer__title-main {
  margin-bottom: 20px;
}
.footer__item {
}
.header__button-free {
}
.footer_column p {
  font-style: 400;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: right;
}
.footer_column-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer_column-last {
  padding-top: 5%;
}

.footer__bottom {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
}
.footer__bottom-left {
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  color: #ffffff;
}
.footer__bottom-right {
}
.footer__bottom-right-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__bottom-right-item {
}
.footer__bottom-right-item:not(:last-child) {
  margin-right: 30px;
}
.footer__bottom-right-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  transition: 0.7s all;
}
.footer__bottom-right-link:hover {
  text-decoration: underline;
}

/* Footer style end */
